* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #019789 0%,
    #019789 15%,
    #d9dbd5 15%,
    #d9dbd5 100%
  );
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.app-container {
  display: flex;
  width: 85%;
  height: 95%;
  /* border: 2px solid red; */
}

/* Lato sinistro */
#left-side {
  width: 35%;
  min-width: 450px;
  height: 100%;
}

/* Sezione UTENTE */
#left-side .user-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 20px 10px 10px;
  background-color: #eaeaea;
}

#left-side .user-navbar .navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

#left-side .user-navbar .navbar-left img {
  height: 100%;
  margin-right: 10px;
  border-radius: 50%;
}

#left-side .user-navbar .navbar-left .username {
  font-size: 14px;
  font-weight: 400;
}

#left-side .user-navbar .navbar-right {
  font-size: 20px;
  color: #b1b1b1;
}

#left-side .user-navbar .navbar-right i {
  margin-left: 0.5rem;
}

/* Sezione NOTIFICHE */
#left-side .notifications {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 15px;
  background-color: #8edafc;
}

#left-side .notifications .bell-rounded-background {
  background-color: #fff;
  color: #8edafc;
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 10px;
  margin-right: 1rem;
}

#left-side .notifications-content {
  line-height: 1.2rem;
  color: #373737;
}

#left-side .notifications-content a {
  color: #557698;
  font-size: 0.9rem;
}

/* Sezione RICERCA */
#left-side .search-user {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #eaeaea;
}

#left-side .search-user .search-icon-div {
  width: 80px;
  height: 35px;
  color: lightgrey;
  background-color: #fff;
  line-height: 35px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-right: 0;
}

#left-side .search-user input {
  width: calc(100% - 80px);
  height: 35px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

/* Sezione CONTATTI */
#left-side .contacts-list {
  width: 100%;
  height: calc(100% - 215px);
  background-color: #fff;
  overflow-y: scroll;
}

#left-side .contacts-list .contact {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 10px 10px 10px 20px;
  border-bottom: #eaeaea;
}

.contact-active {
  background-color: #eaeaea;
}

#left-side .contacts-list .contact .contact-left {
  display: flex;
  height: 100%;
}

#left-side .contacts-list .contact .contact-left img {
  height: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

#left-side .contacts-list .contact .contact-left .contact-info .contact-name {
  font-weight: 700;
}
#left-side
  .contacts-list
  .contact
  .contact-left
  .contact-info
  .last-message-written {
  font-weight: 300;
  color: grey;
}

#left-side .contacts-list .contact .contact-right .last-message-time {
  font-size: 12px;
  color: grey;
}

/* Lato destro */
#right-side {
  width: 65%;
  min-width: 500px;
  height: 100%;
}
/* Sezione UTENTE ATTIVO */
#right-side .active-user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 20px 10px 10px;
  background-color: #eaeaea;
  border-left: 1px solid lightgrey;
}

#right-side .active-user-nav .left-active-area {
  display: flex;
  align-items: center;
  height: 100%;
}

#right-side .active-user-nav .left-active-area img {
  background-color: #458fda;
  margin-right: 10px;
}

#right-side .active-user-nav .right-active-area {
  font-size: 20px;
  color: #b1b1b1;
}

#right-side .active-user-nav .right-active-area i {
  margin-left: 0.5rem;
}

/* Sezione CHAT */
#right-side .chat-area {
  width: 100%;
  height: calc(100% - 145px);
  background-image: url("../img/mine.jpg");
  background-position: center;
  background-size: contain;
}

/* Sezione NUOVO MESSAGGIO */
#right-side .text-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 10px 30px;
  background-color: #eaeaea;
  border-left: 1px solid lightgrey;
}

#right-side .text-controls i {
  font-size: 24px;
  color: #6b7376;
}

#right-side .text-controls input {
  width: 100%;
  height: 100%;
  margin: 0 40px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #fff;
}
